body {
    background-color: #FF5F00; /* HTW-orange */
    font-size:1rem;
   }

   #oben, #unten {background-color: cadetblue;}

   #links {background-color: darkcyan;}
   #mitte {background-color: darkgrey;}
   #rechts {background-color: darkslategrey;}

   
   @media screen and (min-width: 960px) {
    body {
    background-color: #0082D1; /* HTW-blau */
    font-size:1.2rem;
    }

    #oben, #unten { 
        background-color: powderblue;
        padding: 7px;
        margin-bottom: 10px;
        margin-top: 10px;
     }
    #links { 
        background-color: mediumaquamarine;
        color: white;
        flex:1;
        padding: 10px;
     }
    #mitte { 
        background-color: mediumturquoise;
        color: white;
        flex:4;
        padding: 10px;
     }
    #rechts { 
        background-color: mediumpurple;
        color:white;
        flex:2;
        padding: 10px;
     }
     .center { 
         display: flex;
         
     }
   }

  

    
