body{
    font-family: Verdana;
}

header
{
    background-color: #AFAFAF;
    color: #FF5F00;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
nav{
    margin: 20px;
    margin-left: 0px;
}
nav a{
   background-color: #0082D1;
   color: white;
    border: gray;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    
}
table{
    border: 1px solid #000000;
    border-collapse: collapse;
    box-shadow: 5px 10px grey;
    width: 80%;
   
}
td{
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 7px;
}
th{
    border: 1px solid #000000;
    background-color: #76B900;
    color: white;
}
nav a:hover{
    background-color: #AFAFAF;
    color: #FF5F00;
}
footer{
    margin: 10px;
    background-color: #FF5F00;
    text-align: center;
    margin:0;
    padding:10px;
}
